# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
/build
/.cache
.vscode/c_cpp_properties.json
.vscode/settings.json

build*/
*.*~
*.pdb
*.ilk
*.vso
*.pso
**/.vs
*.swp
**/Debug
**/Release
**/lib
**/lib64

External/src/glad/include/glad/glad.h
External/src/glad/include/glad/glad_glx.h
External/src/glad/include/glad/glad_wgl.h
External/src/glad/src/glad.c
External/src/glad/src/glad_glx.c
External/src/glad/src/glad_wgl.c